*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root {
    --primary-color: #00bbff;
    --secondary-color: #5b056c;
    --dark-bg: #0A0E27;
    --card-bg: #151932;
    --text-primary: #ffffff;
    --text-secondary: #000000;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(67deg,  #09263f, #34072f);
}
header{

        top: 0;
        width: 100%;
        background: #0a0e2796;
        backdrop-filter: blur(15px);
        z-index: 1000;
        border-bottom: 1px solid rgba(0, 255, 136, 0.1);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        position: sticky;
        }
 nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2rem;
    font-weight: bold; 
    color: white;   
}
.gg{
    color: #00bbff;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    color: var(--text-primary);
    cursor: pointer;
    margin-right: -25rem;
}
.nav-links a{
    color: #ffffff;
}
    footer{
    position: sticky;
    background: linear-gradient( to bottom, var(--dark-bg), var(--text-secondary));
    padding: 1rem 2rem;
    margin-top:20rem;
    border-top: 1px solid var(--card-bg);
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    
}
.logo-footer{
    font-size: 20px;
    font-weight: bold; 
    color: white;  
}
.footer-desc{
    font-size: 12px;
    width: 15rem;

}.footer-title{
    font-weight: bold;
    line-height: 40px;
    color: var(--text-primary);

}
.footer-text{
    font-weight: normal;
    font-size: smaller;
    color: var(--text-primary);
}
.Acceuil{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--text-primary);
    margin-bottom: 20rem;
}
.title{   
    font-size: 60px;    
    background: linear-gradient(90deg, white 0%, #00bbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.Commencer{
    color: #ffffff;
    background: linear-gradient(60deg, #00bbff, #1c60d5);
    width: 16rem;
    border-color: transparent;
    border-width: 0;
    height: 4rem;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;  
    cursor: pointer;
    box-shadow: 0 0 15px #34b4e3;
    margin-right: 20px;
    text-decoration: none;
}
.Commencer:hover{
    background: #00bbff;
}
.savoir{
    color: #00bbff;
    background: transparent;
    width: 16rem;
    border-color: #00bbff;
    height: 4rem;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    
}
.savoir:hover{
    background: #00bbff;
    color: #000000;
    box-shadow: 0 0 15px #00bbff;
}
a{
    text-decoration: none;
    color: white;
}
#recherche{
    padding: 5rem;
    justify-content: center;
    margin: 50px;
    background: var(--dark-bg);
    height: 25rem;
    border-radius: 20px;
    
}
.recherche-title{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 3rem;
}
.recherche-input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.recherche-label{
    font-size: 1rem;
    color: #00bbff;
    display: flex;
    flex-direction: column;
}
.recherche-select{
    width: 17rem;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    background: var(--dark-bg);
    border-color: #00bbff;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
    
}
.button-recherche{
    color: var(--text-secondary);
    background: linear-gradient(60deg, #00bbff, #1c60d5);
    width: 17rem;
    border-color: transparent;
    border-width: 0;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;  
    cursor: pointer;
    box-shadow: 0 0 15px #34b4e3;
    margin-top: 25px;
    
}
p{
    color: rgb(178, 178, 178);
}
.csm{
    text-align: center;
    margin: 50px;
}
.csm-title{
    color: #ffffff;
    font-size: 40px;
    margin: 20px;
}

.csm-card{
    border: solid;
    width: 25rem;
    height: 20rem;
    border-width: 1px;
    border-color: #00bbff2f;
    background-color: #0a0e277c;
    border-radius: 15px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
}
.csm-card-title{
    color: #ffffff;
    margin: 15px;
    font-size: larger;
}
.small-line{
    width: 8rem;
    height: 8px;
    margin-left: 45%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background: linear-gradient(90deg, #00bbff, #f701d2);
    border: none;
    border-radius: 3px;
}
.csm-cards{
    display: flex;
    justify-content: space-around;
}
.joueurs{
    text-align: center;
    margin: 50px;
}

.joueurs-card{
    border: solid;
    width: 25rem;
    height: 30rem;
    border-width: 1px;
    border-color: #00bbff2f;
    background-color: #0a0e277c;
    border-radius: 15px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    margin: 2rem;
    
}
.joueurs-title{
    color: #ffffff;
    margin: 15px;
    font-size: larger;
}

.joueurs-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.joueurs-card-title{
    color: #ffffff;
    margin: 15px;
    font-size: larger;
}
.joueurs-icone{
    border-radius: 100%;
    width: 100px;
}
.joueurs-game{
    border: solid red 1px;
    color: red;
    width: 10rem;
    border-radius: 15px;
    background: rgba(255, 0, 0, 0.201);
    margin-left: 6rem;
    margin-bottom: 2rem;
}
.role-rank{
    display: flex;
    gap: 24px ;
    justify-content: center;
    color: #00bbff;
    font-weight: bold;
}
.login{
    color: var(--text-secondary);
    background: linear-gradient(60deg, #00bbff, #1c60d5);
    width: 8rem;
    border-color: transparent;
    border-width: 0;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;  
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 15px #34b4e3;
    
}
.button-profil{
    background: linear-gradient(60deg, #00bbff, #1c60d5);
    color: var(--text-secondary);
    border: transparent 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 0 10px #00bbff;
    margin-top: 2rem;
    width: 20rem;
    height: 40px;
    border-radius: 20px;
}