*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root {
    --primary-color: #00bbff;
    --secondary-color: #5b056c;
    --dark-bg: #0A0E27;
    --card-bg: #151932;
    --text-primary: #ffffff;
    --text-secondary: #000000;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(80deg,  #042441, #34032e);
}
.body{
    background-image: url("cypher.png");
}

header{

        top: 0;
        width: 100%;
        background: #0a0e2796;
        backdrop-filter: blur(15px);
        z-index: 1000;
        border-bottom: 1px solid rgba(0, 255, 136, 0.1);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        position: sticky;
    }
 nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2rem;
    font-weight: bold; 
    color: white;   
}
.gg{
    color: #00bbff;
} 
.nav-links{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    color: var(--text-primary);
    cursor: pointer;
    margin-right: -25rem;
}
.nav-links a{
    color: #ffffff;
}
.titlediv{
    border: solid 1px transparent;
    width: 60rem;
    height: 30rem;
    padding: 5rem;
    border-radius: 20px;
    background: #0a0e274c;
    backdrop-filter: blur(20px);
    margin-left: 16rem;
}
    footer{
    position: sticky;
    background: linear-gradient( to bottom, var(--dark-bg), var(--text-secondary));
    padding: 1rem 2rem;
    margin-top:10rem;
    border-top: 1px solid var(--card-bg);
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    flex-wrap: wrap;
    height: 20rem;
    
}
.logo-footer{
    font-size: 20px;
    font-weight: bold; 
    color: white;  
}
.footer-desc{
    font-size: 12px;
    width: 15rem;

}.footer-title{
    font-weight: bold;
    line-height: 40px;
    color: var(--text-primary);

}
.footer-text{
    font-weight: normal;
    font-size: smaller;
    color: var(--text-primary);
}
.Acceuil{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--text-primary);
    margin-bottom: 20rem;
}
.title{   
    font-size: 60px;    
    background: linear-gradient(90deg, white 0%, #00bbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.Commencer{
    color: #ffffff;
    background: linear-gradient(90deg, #00bbff, #1c60d5);
    width: 16rem;
    border-color: transparent;
    border-width: 0;
    height: 4rem;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;  
    cursor: pointer;
    box-shadow: 0 0 15px #34b4e3;
    margin-right: 20px;
    text-decoration: none;
}
.Commencer:hover{
    background: #00bbff;
}
.savoir{
    color: #00bbff;
    background: transparent;
    width: 16rem;
    border-color: #00bbff;
    height: 4rem;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    
}
.savoir:hover{
    background: #00bbff;
    color: #000000;
    box-shadow: 0 0 15px #00bbff;
}
a{
    text-decoration: none;
    color: white;
}
#recherche{
    padding: 5rem;
    justify-content: center;
    margin: 50px;
    background: var(--dark-bg);
    height: 25rem;
    border-radius: 20px;
    
}
.recherche-title{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 3rem;
}
.recherche-input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.recherche-label{
    font-size: 1rem;
    color: #00bbff;
    display: flex;
    flex-direction: column;
}
.recherche-select{
    width: 17rem;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    background: var(--dark-bg);
    border-color: #00bbff;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
    
}
.button-recherche{
    color: var(--text-secondary);
    background: linear-gradient(60deg, #00bbff, #1c60d5);
    width: 17rem;
    border-color: transparent;
    border-width: 0;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;  
    cursor: pointer;
    box-shadow: 0 0 15px #34b4e3;
    margin-top: 25px;
    
}
p{
    color: rgb(178, 178, 178);
}
.csm{
    text-align: center;
    margin: 50px;
}
.csm-title{
    color: #ffffff;
    font-size: 40px;
    margin: 20px;
}

.csm-card{
    border: solid;
    width: 25rem;
    height: 20rem;
    border-width: 1px;
    border-color: #00bbff2f;
    background-color: #0a0e277c;
    border-radius: 15px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
}
.csm-card-title{
    color: #ffffff;
    margin: 15px;
    font-size: larger;
}
.small-line{
    width: 8rem;
    height: 8px;
    margin-left: 45%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background: linear-gradient(90deg, #00bbff, #f701d2);
    border: none;
    border-radius: 3px;
}
.csm-cards{
    display: flex;
    justify-content: space-around;
}
.joueurs{
    text-align: center;
    margin: 50px;
}

.joueurs-card{
    border: solid;
    width: 25rem;
    height: 30rem;
    border-width: 1px;
    border-color: #00bbff2f;
    background-color: #0a0e277c;
    border-radius: 15px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    margin: 2rem;
    
}
.joueurs-title{
    color: #ffffff;
    margin: 15px;
    font-size: larger;
}

.joueurs-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.joueurs-card-title{
    color: #ffffff;
    margin: 15px;
    font-size: larger;
}
.joueurs-icone{
    border-radius: 100%;
    width: 100px;
    border: solid #00bbff 2px;
    box-shadow: 0 0 10px #00bbff;
}
.joueurs-game{
    border: solid red 1px;
    color: red;
    width: 10rem;
    border-radius: 15px;
    background: rgba(255, 0, 0, 0.201);
    margin-left: 6rem;
    margin-bottom: 2rem;
}
.role-rank{
    display: flex;
    gap: 24px ;
    justify-content: center;
    color: #00bbff;
    font-weight: bold;
}
.login{
    color: var(--text-secondary);
    background: linear-gradient(60deg, #00bbff, #1c60d5);
    width: 8rem;
    border-color: transparent;
    border-width: 0;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;  
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 15px #34b4e3;
    
}
.button-profil{
    background: linear-gradient(60deg, #00bbff, #1c60d5);
    color: var(--text-secondary);
    border: transparent 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 0 10px #00bbff;
    margin-top: 2rem;
    width: 20rem;
    height: 40px;
    border-radius: 20px;
}
.communaute-cards{
    display: flex;
    justify-content: space-around;
}
.communaute{
    text-align: center;
    padding-top: 2rem;
    background-image:url("cypher.png");
    background: transparent;
    
}
.community{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border: transparent;
    width: 18rem;
    height: 8rem;
    align-content: center;
    padding: 1rem;
    background: #0A0E27;
    border-radius: 10px;
    
}
.community h5{
    font-size: 50px;
    background:  linear-gradient(111.01deg, #00FFFF 0%, #FF00FF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    background-clip: text;

}

.community-span{
    font-size: 20px;
    color: var(--text-primary);
    margin-top: 10px;
    
}
.cards-comunity2 h4{
    margin-top: 3rem;
    color: var(--text-primary);
    text-align: center;
    font-size: 40px;
    margin-bottom: 3rem;    
    
}
.review-cards{
    display: flex;
    justify-content: space-around;
}
.review{
    color: var(--text-primary);
}
.player-name{
    text-align: left;
    color: #00bbff;
    font-weight: bold;
}
.son-jeu{
    text-align: left;
}
.review-card{
    border: solid;
    width: 25rem;
    height: 14rem;
    border-width: 1px;
    border-color: #00bbff2f;
    background-color: #0a0e277c;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.review-cards{
    display: flex;
    justify-content: space-around;
}
.Recrutez{
    color: #000000;
    background: linear-gradient(90deg, #00bbff, #163f86);
    width: 16rem;
    border-color: transparent;
    border-width: 0;
    height: 4rem;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;  
    cursor: pointer;
    box-shadow: 0 0 15px #34b4e3;
    margin-right: 20px;
    text-decoration: none;  
    margin-top: 5rem;  
}
.annonce-input{
    text-align: center;
    margin-top: 5rem;
    border: solid 1px transparent;
    width: 55rem;
    height: 25rem;
    margin-left: 20rem;
    padding: 3rem;
    border-radius: 20px;
    background-color: #0a0e2770;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px #00bbff;
}
.annonce{
    text-align: center;
    margin-top: 3rem;
    
}
.formulaire-annonce{
    width: 40rem;
    height: 40rem;
    border: solid 1px #00bbff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    margin-left: 27rem;
    background: #0a0e276b;
    padding: 3rem;
    border-radius: 40px;
    margin-bottom: 1rem;
    backdrop-filter: blur(30px);
    margin-top: -4rem;
}
.formulaire-annonce label{
    color: white;
    font-weight: bold;
}
.ecrire-annonce{
    width: 20rem;
    height: 3rem;
    border-radius: 20px;
    border: solid 1px #00bbff;
    background: #0A0E27;
    color: var(--text-primary);
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 2px;
}
.ecrire-description{
    width: 35rem;
    height: 20rem;
    border-radius: 40px;
    border: solid 1px #00bbff;
    background: #0A0E27;
    color: var(--text-primary);
    padding: 2rem;
    
}
.publie{
        color: #000000;
    background: linear-gradient(90deg, #00bbff, #163f86);
    width: 16rem;
    border-color: transparent;
    border-width: 0;
    height: 4rem;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;  
    cursor: pointer;
    box-shadow: 0 0 15px #34b4e3;
    margin-right: 20px;
    text-decoration: none;   
}
#annonce-shortcut{
    margin: 2rem;
    font-size: 24px;
    font-weight: bold;
    color: #00bbff;
    cursor: pointer;
}
#annonce-shortcut:hover{
    text-decoration: underline;
}

    .footerline{
        margin-top: 3rem;
    }

.cpr{
    margin-top: 2rem;
    font-size: 16px;
}
.links{
    display: flex;
    gap: 10px;
}